USE [master]
GO

IF DB_ID(N'FootballSchool') IS NOT NULL
BEGIN
    ALTER DATABASE [FootballSchool] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [FootballSchool];
END
GO

CREATE DATABASE [FootballSchool]
GO

USE [FootballSchool]
GO

CREATE TABLE [dbo].[User](
    [User_ID] INT IDENTITY(1,1) NOT NULL,
    [Login] NVARCHAR(50) NOT NULL,
    [Password] NVARCHAR(100) NOT NULL,
    [Role] NVARCHAR(20) NOT NULL CONSTRAINT [DF_User_Role] DEFAULT N'Parent',
    [Email] NVARCHAR(100) NULL,
    CONSTRAINT [PK_User] PRIMARY KEY ([User_ID])
)
GO

CREATE TABLE [dbo].[Branch](
    [Branch_ID] INT IDENTITY(1,1) NOT NULL,
    [Name_branch] VARCHAR(50) NOT NULL,
    [City_branch] VARCHAR(50) NOT NULL,
    [Street_branch] VARCHAR(50) NOT NULL,
    [House_branch] VARCHAR(20) NOT NULL,
    [Phone_branch] VARCHAR(20) NOT NULL,
    [Photo_branch] NVARCHAR(255) NULL,
    CONSTRAINT [PK_Branch] PRIMARY KEY ([Branch_ID])
)
GO

CREATE TABLE [dbo].[Coach](
    [Coach_ID] INT IDENTITY(1,1) NOT NULL,
    [Surname_coach] VARCHAR(50) NOT NULL,
    [Name_coach] VARCHAR(50) NOT NULL,
    [Middle_coach] VARCHAR(50) NULL,
    [Qualification_coach] VARCHAR(100) NOT NULL,
    [Specialty_coach] VARCHAR(100) NOT NULL,
    [Schedule_coach] TEXT NULL,
    [Salary_coach] DECIMAL(10,2) NULL,
    [Photo_coach] VARCHAR(255) NULL,
    [User_ID] INT NULL,
    CONSTRAINT [PK_Coach] PRIMARY KEY ([Coach_ID])
)
GO

CREATE TABLE [dbo].[Team](
    [Team_ID] INT IDENTITY(1,1) NOT NULL,
    [Category_team] VARCHAR(50) NOT NULL,
    [Status_team] VARCHAR(50) NOT NULL,
    [Branch_ID] INT NOT NULL,
    CONSTRAINT [PK_Team] PRIMARY KEY ([Team_ID])
)
GO

CREATE TABLE [dbo].[Facility](
    [Facility_ID] INT IDENTITY(1,1) NOT NULL,
    [Branch_ID] INT NOT NULL,
    [Name_facility] VARCHAR(50) NOT NULL,
    [Type_facility] VARCHAR(50) NOT NULL,
    [Capacity_facility] INT NOT NULL,
    [Status_facility] VARCHAR(50) NOT NULL,
    [Cost_facility] DECIMAL(10,2) NULL,
    [Number_facility] VARCHAR(20) NULL,
    CONSTRAINT [PK_Facility] PRIMARY KEY ([Facility_ID])
)
GO

CREATE TABLE [dbo].[Student](
    [Student_ID] INT IDENTITY(1,1) NOT NULL,
    [Team_ID] INT NULL,
    [User_ID] INT NULL,
    [Surname_student] VARCHAR(50) NOT NULL,
    [Name_student] VARCHAR(50) NOT NULL,
    [Middle_student] VARCHAR(50) NULL,
    [Birth_student] DATE NOT NULL,
    [Gender_student] VARCHAR(10) NOT NULL,
    [Phone_student] VARCHAR(20) NULL,
    [Email_student] VARCHAR(50) NULL,
    [Medical_student] TEXT NULL,
    [Level_student] VARCHAR(50) NOT NULL,
    [Photo_student] VARCHAR(255) NULL,
    [Parent_number] VARCHAR(20) NOT NULL,
    [Surname_parent] VARCHAR(50) NOT NULL,
    [Name_parent] VARCHAR(50) NOT NULL,
    [Middle_parent] VARCHAR(50) NULL,
    [City_student] VARCHAR(50) NOT NULL,
    [Street_student] VARCHAR(50) NOT NULL,
    [House_student] VARCHAR(20) NOT NULL,
    [Apartment_student] VARCHAR(20) NULL,
    CONSTRAINT [PK_Student] PRIMARY KEY ([Student_ID])
)
GO

CREATE TABLE [dbo].[Training](
    [Training_ID] INT IDENTITY(1,1) NOT NULL,
    [Facility_ID] INT NOT NULL,
    [Team_ID] INT NOT NULL,
    [Coach_ID] INT NOT NULL,
    [Date_training] DATE NOT NULL,
    [Time_training] TIME(7) NOT NULL,
    [Plan_training] TEXT NULL,
    CONSTRAINT [PK_Training] PRIMARY KEY ([Training_ID])
)
GO

CREATE TABLE [dbo].[Attendance](
    [Attendance_ID] INT IDENTITY(1,1) NOT NULL,
    [Training_ID] INT NOT NULL,
    [Student_ID] INT NOT NULL,
    [Status_attendance] VARCHAR(50) NOT NULL,
    [Note_attendance] TEXT NULL,
    CONSTRAINT [PK_Attendance] PRIMARY KEY ([Attendance_ID])
)
GO

CREATE TABLE [dbo].[Progress](
    [Progress_ID] INT IDENTITY(1,1) NOT NULL,
    [Student_ID] INT NOT NULL,
    [Date_progress] DATE NOT NULL,
    [Tests_progress] TEXT NULL,
    [Physical_progress] TEXT NULL,
    [Plan_progress] TEXT NULL,
    [Comment_progress] TEXT NULL,
    CONSTRAINT [PK_Progress] PRIMARY KEY ([Progress_ID])
)
GO

CREATE TABLE [dbo].[Subscription](
    [Subscription_ID] INT IDENTITY(1,1) NOT NULL,
    [Student_ID] INT NOT NULL,
    [Type_subscription] VARCHAR(50) NOT NULL,
    [Terms_subscription] VARCHAR(100) NULL,
    [Days_subscription] INT NULL,
    [Cost_subscription] DECIMAL(10,2) NULL,
    CONSTRAINT [PK_Subscription] PRIMARY KEY ([Subscription_ID])
)
GO

CREATE TABLE [dbo].[Payment](
    [Payment_ID] INT IDENTITY(1,1) NOT NULL,
    [Subscription_ID] INT NOT NULL,
    [Amount_payment] DECIMAL(10,2) NOT NULL,
    [Date_payment] DATE NOT NULL,
    [Method_payment] VARCHAR(50) NOT NULL,
    [Status_payment] VARCHAR(50) NULL,
    CONSTRAINT [PK_Payment] PRIMARY KEY ([Payment_ID])
)
GO

ALTER TABLE [dbo].[Coach]
ADD CONSTRAINT [FK_Coach_User]
FOREIGN KEY ([User_ID]) REFERENCES [dbo].[User]([User_ID])
GO

ALTER TABLE [dbo].[Team]
ADD CONSTRAINT [FK_Team_Branch]
FOREIGN KEY ([Branch_ID]) REFERENCES [dbo].[Branch]([Branch_ID]) ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Facility]
ADD CONSTRAINT [FK_Facility_Branch]
FOREIGN KEY ([Branch_ID]) REFERENCES [dbo].[Branch]([Branch_ID]) ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Student]
ADD CONSTRAINT [FK_Student_User]
FOREIGN KEY ([User_ID]) REFERENCES [dbo].[User]([User_ID])
GO

ALTER TABLE [dbo].[Student]
ADD CONSTRAINT [FK_Student_Team]
FOREIGN KEY ([Team_ID]) REFERENCES [dbo].[Team]([Team_ID]) ON DELETE SET NULL
GO

ALTER TABLE [dbo].[Training]
ADD CONSTRAINT [FK_Training_Facility]
FOREIGN KEY ([Facility_ID]) REFERENCES [dbo].[Facility]([Facility_ID]) ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Training]
ADD CONSTRAINT [FK_Training_Team]
FOREIGN KEY ([Team_ID]) REFERENCES [dbo].[Team]([Team_ID])
GO

ALTER TABLE [dbo].[Training]
ADD CONSTRAINT [FK_Training_Coach]
FOREIGN KEY ([Coach_ID]) REFERENCES [dbo].[Coach]([Coach_ID])
GO

ALTER TABLE [dbo].[Attendance]
ADD CONSTRAINT [FK_Attendance_Training]
FOREIGN KEY ([Training_ID]) REFERENCES [dbo].[Training]([Training_ID])
GO

ALTER TABLE [dbo].[Attendance]
ADD CONSTRAINT [FK_Attendance_Student]
FOREIGN KEY ([Student_ID]) REFERENCES [dbo].[Student]([Student_ID])
GO

ALTER TABLE [dbo].[Progress]
ADD CONSTRAINT [FK_Progress_Student]
FOREIGN KEY ([Student_ID]) REFERENCES [dbo].[Student]([Student_ID]) ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Subscription]
ADD CONSTRAINT [FK_Subscription_Student]
FOREIGN KEY ([Student_ID]) REFERENCES [dbo].[Student]([Student_ID]) ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Payment]
ADD CONSTRAINT [FK_Payment_Subscription]
FOREIGN KEY ([Subscription_ID]) REFERENCES [dbo].[Subscription]([Subscription_ID]) ON DELETE CASCADE
GO

CREATE UNIQUE INDEX [IX_Coach_User_ID] ON [dbo].[Coach]([User_ID]) WHERE [User_ID] IS NOT NULL
GO
CREATE UNIQUE INDEX [IX_Student_User_ID] ON [dbo].[Student]([User_ID]) WHERE [User_ID] IS NOT NULL
GO
CREATE INDEX [IX_Team_Branch_ID] ON [dbo].[Team]([Branch_ID])
GO
CREATE INDEX [IX_Facility_Branch_ID] ON [dbo].[Facility]([Branch_ID])
GO
CREATE INDEX [IX_Training_Facility_ID] ON [dbo].[Training]([Facility_ID])
GO
CREATE INDEX [IX_Training_Team_ID] ON [dbo].[Training]([Team_ID])
GO
CREATE INDEX [IX_Training_Coach_ID] ON [dbo].[Training]([Coach_ID])
GO
CREATE INDEX [IX_Attendance_Training_ID] ON [dbo].[Attendance]([Training_ID])
GO
CREATE INDEX [IX_Attendance_Student_ID] ON [dbo].[Attendance]([Student_ID])
GO
CREATE INDEX [IX_Progress_Student_ID] ON [dbo].[Progress]([Student_ID])
GO
CREATE INDEX [IX_Subscription_Student_ID] ON [dbo].[Subscription]([Student_ID])
GO
CREATE INDEX [IX_Payment_Subscription_ID] ON [dbo].[Payment]([Subscription_ID])
GO

USE [master]
GO